# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/server/node_modules/.yarn-integrity
/server/node_modules/@types/history/createBrowserHistory.d.ts
/server/node_modules/@types/history/createHashHistory.d.ts
/server/node_modules/@types/history/createMemoryHistory.d.ts
/server/node_modules/@types/history/createTransitionManager.d.ts
/server/node_modules/@types/history/DOMUtils.d.ts
/server/node_modules/@types/history/ExecutionEnvironment.d.ts
/server/node_modules/@types/react/experimental.d.ts
/server/node_modules/@types/react/global.d.ts
/server/node_modules/@types/history/index.d.ts
/server/node_modules/@types/prop-types/index.d.ts
/server/node_modules/@types/react/index.d.ts
/server/node_modules/@types/react-router/index.d.ts
/server/node_modules/@types/react-router-dom/index.d.ts
/server/node_modules/csstype/index.d.ts
/server/node_modules/csstype/index.js.flow
/server/node_modules/@types/history/LICENSE
/server/node_modules/@types/prop-types/LICENSE
/server/node_modules/@types/react/LICENSE
/server/node_modules/@types/react-router/LICENSE
/server/node_modules/@types/react-router-dom/LICENSE
/server/node_modules/csstype/LICENSE
/server/node_modules/@types/history/LocationUtils.d.ts
/server/node_modules/@types/history/package.json
/server/node_modules/@types/prop-types/package.json
/server/node_modules/@types/react/package.json
/server/node_modules/@types/react-router/package.json
/server/node_modules/@types/react-router-dom/package.json
/server/node_modules/csstype/package.json
/server/node_modules/@types/history/PathUtils.d.ts
/server/node_modules/@types/history/README.md
/server/node_modules/@types/prop-types/README.md
/server/node_modules/@types/react/README.md
/server/node_modules/@types/react-router/README.md
/server/node_modules/@types/react-router-dom/README.md
/server/node_modules/csstype/README.md
